<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./icon_prototype.jpeg">
    <link rel="stylesheet" href="">
    <script src="https://kit.fontawesome.com/c238628491.js" crossorigin="anonymous"></script>
    
    <title>Capstone Project Tim C22-132</title>
</head>
<body>
    <header class="app-bar">
        <div class="menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="brand">
            <h1>Resep Makanan</h1>
        </div>
        <div class="search">
            <i class="fa-solid fa-utensils"></i>
            <form action="">
                <input type="text" class="input" placeholder="Temukan..">
                <button class="submit">Cari</button>
            </form>
        </div>
        <nav id="navDrawer" class="option">
            <button type="button" class="btn-close btn-close-white" aria-label="Close" id="btn-close"></button>
            <ul class="list-group">
                <li class="list-group-flush"></li>
                <li class="list-group-flush"><a href="#/home">Beranda</a></li>
                <li class="list-group-flush"><a href="#/recipe">Menu & Resep</a></li>
                <li class="list-group-flush"><a href="#/category">Kategori</a></li>
                <li class="list-group-flush"><a href="#/about-us">Tentang Kami</a></li>
            </ul>
        </nav>
    </header>

    <main id="mainContent"></main>

    <footer>
        <p>Dicoding Assignment Capstone Project Team C22-132</p>
    </footer>
</body>
</html>