<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#232323"/>
    
    <link rel="icon" href="./images/icon-tab.jpg">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    
    <script src="https://kit.fontawesome.com/c238628491.js" crossorigin="anonymous"></script>

    <title>Capstone Project Tim C22-132</title>
</head>
<body>
    <header class="app-bar">
        <div class="menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="brand">
            <a href="#/home">
                <picture>
                    <source media="(max-width: 480px)" srcset="./images/logo-navBar-small.jpg">
                    <img src="../images/logo-navBar.png" alt="" class="appLogo">
                </picture>
            </a>
        </div>
        <nav id="navDrawer" class="option">
            <button type="button" class="btn-close btn-close-white" aria-label="Close" id="btn-close"></button>
            <ul class="list-group" id="drawer-menu">
                <li class="list-group-flush">
                    <picture>
                        <source media="(max-width: 480px)" srcset="./images/logo-navDrawer-small.jpg">
                        <img src="../images/logo-navDrawer.png" alt=""  class="drawerLogo">
                    </picture>
                </li>
                <li class="list-group-flush"><a href="#/home">Beranda</a></li>
                <li class="list-group-flush"><a href="#/recipe">Menu & Resep</a></li>
                <li class="list-group-flush"><a href="#/about-us">Tentang Kami</a></li>
            </ul>
        </nav>
    </header>

    <main id="mainContent"></main>

    <footer>
        <p>Dicoding Assignment Capstone Project Team C22-132</p>
    </footer>
</body>
</html>
