@media screen and (max-width: 1200px) {
    .content-title {
        font-size: 2.5rem;
    }
    .content-text {
        font-size: 1.2rem;
    }
    .category-section .category-item .category {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 992px) {
    .app-bar .appLogo {
        position: relative;
        display: flex;
        right: 0;
    }
    .heroTitle {
        font-size: 3.5rem;
    }
    .heroSubtitle {
        font-size: 1.25rem;
    }
    .content-title {
        font-size: 2.2rem;
    }
    .content-text {
        font-size: 1rem;
    }
    .heroMenuTitle {
        font-size: 3rem;
    }
    .heroMenuSubtitle {
        font-size: 1.25rem;
    }
    .detail .hero-title {
        font-size: 2rem;
        width: 100%
    }
    .detail ul li {
        font-size: 1.2rem;
    }
    .detail hero-img {
        width: 100%
    }
    .detail .desc{
        font-size: 1rem;
    }
    .detail .ingredients .ingredient {
        font-size: 1.1rem;
    }
    .detail .other-title {
        font-size: 1.5rem;
    }
    .category-section .category-item {
        margin-top: 2vh;
        min-height: auto;
    }
}

@media screen and(max-width: 762px) {
    .img-one, .home-img {
        display: none;;
    }
    .home-content {
        max-height: 200px;
        margin: 0;
        padding: 0;
    }
    .text-one, .text-two, .title-one, .title-two {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
        align-self: center;
        justify-content: center;
    }
}

@media screen and(max-width: 576px) {
    .heroTitle {
        font-size: 3rem;
    }
    .heroSubtitle {
        font-size: 1rem;
    }
    .content-title {
        font-size: 1.8rem;
    }
    .content-text {
        font-size: 1rem;
    }
    .heroMenuTitle {
        font-size: 2.25rem;
    }
    .heroMenuSubtitle {
        font-size: 1rem;
    }
    .detail .hero-title {
        font-size: 1.5rem;
        width: 100%
    }
    .detail ul li {
        font-size: 1rem;
    }
    .detail .desc{
        font-size: 0.8rem;
    }
    .detail .ingredients .ingredient {
        font-size: 1rem;
    }
    .detail .other-title {
        font-size: 1.2rem;
    }

    .about-container h4{
        font-size: 16px;
    }
    .about-container li, .about-container a{
        font-size: 14px;
    }
    .img-wrapper {
        overflow: hidden;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        display: flex;
        margin: 0 10px;
        border: 1px solid grey;
    }
    .img-dev{
        overflow: hidden;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        justify-content: center;
        display: flex;
        border: 1px solid grey;
    }
    
}